<div class="ui raised segment">
  <a class="ui blue ribbon label">View Transactions</a> 
  <form class="ui form">
    <div class="field">
      <label>Select Security Code</label>
      <div class="fields">
      <div class="three wide field">
        <select class="ui dropdown" [(ngModel)]="selectedCodeForTransaction" name="codeSelect">
          <option *ngFor="let code of allCodesForTransaction">
            {{ code.name }}
          </option>
          <option>ALL</option>
        </select>
      </div>
      <div class="five wide field">
        <button class="ui primary button" (click)="this.viewTransactions()">View Transaction</button>
      </div>
    </div>
    </div>
    <div class="field" *ngIf="showTransactions">
      <ag-grid-angular style="width: 100%; height: 300px;" [columnDefs]="this.colDefs" [rowData]="this.rowData" [defaultColDef]="this.defaultColDef" />
    </div>
  </form>
</div>    