<div class="ui segment">
  <a class="ui blue ribbon label">View Transactions</a> 
  <form class="ui form">
    <div class="field">
      <label>Select Security Code</label>
      <div class="fields">
      <div class="three wide field">
        <select class="ui dropdown" [(ngModel)]="selectedCodeForTransaction" name="codeSelect">
          <option *ngFor="let code of allCodesForTransaction">
            {{ code.name }}
          </option>
          <option>ALL</option>
        </select>
      </div>
      <div class="five wide field">
        <button class="ui primary button" (click)="this.viewTransactions()">View Transaction</button>
      </div>
    </div>
    </div>
    <div class="field" *ngIf="showTransactions">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Transaction ID</th>
            <th>Trade ID</th>
            <th>Trade Version</th>
            <th>Security Code</th>
            <th>Action</th>
            <th>Quantity</th>
            <th>Buy/Sell</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rowData">
            <td>{{ row.id }}</td>
            <td>{{ row.tradeId }}</td>
            <td>{{ row.tradeVersion }}</td>
            <td>{{ row.securityCode }}</td>
            <td>{{ row.action }}</td>
            <td>{{ row.qty }}</td>
            <td>{{ row.buy_Sell }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>    