<div>
  <div class="container border">
    <h1>{{title}}</h1>
  </div>
  <span></span>
  <div class="container border">
    <div class="alert alert-light border" role="alert" *ngIf="!showLabel">
      {{TextMessage}}
    </div>
    <div class="row border">
      <div class="col-sm-3">
        <label>Select Security Code: </label>
        <select [(ngModel)]="selectedCode" name="codeSelect">
          <option *ngFor="let code of allCodes">
            {{ code.name }}
          </option>
        </select>
      </div>
      <div class="col-sm-2">
        <label>Select Buy Sell: </label>
        <select [(ngModel)]="selectedBuySell" name="BuySellSelect">
          <option *ngFor="let item of buysell">
            {{ item.name }}
          </option>
        </select>
      </div>
      <div class="col-sm-2">
        <label>Select Action: </label>
        <select [(ngModel)]="selectedAction" name="ActionSelect">
          <option *ngFor="let item of action">
            {{ item.name }}
          </option>
        </select>
      </div>
      <div class="col-sm-3">
        <label>Enter Lot Size: </label>
        <input id="txtLotSize" type="text" [(ngModel)]="lotSize"/>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-primary" (click)="this.executeTrade()">Execute Trade</button>
      </div>
    </div>
    <div class="row border">
      <div class="row">
        <div class="col-sm-3">
          <label>Select Security Code: </label>
          <select [(ngModel)]="selectedCodeForPosition" name="codeSelect">
            <option *ngFor="let code of allCodesForPosition">
              {{ code.name }}
            </option>
          </select>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-primary" (click)="this.viewPositions()">View Position</button>
        </div>
      </div>
      <div class="row" *ngIf="!showPosition">
        <table class="table">
          <tbody>
          <tr>
            <td>Security Code</td>
            <td>{{positionObj.securityCode}}</td>
          </tr>
          <tr>
            <td>Current Value</td>
            <td>{{positionObj.value}}</td>
          </tr>
          <tr>
            <td>Last Transaction Trade Id</td>
            <td>{{positionObj.tradeId}}</td>
          </tr>
          <tr>
            <td>Last Transaction Trade Version</td>
            <td>{{positionObj.tradeVersion}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row" *ngIf="!showPositionArr">
        <table class="table">
          <thead>
            <tr>
              <th>Security Code</th>
              <th>Current Value</th>
              <th>Last Transaction Trade Id</th>
              <th>Last Transaction Trade Version</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of posData">
              <td>{{ row.securityCode }}</td>
              <td>{{ row.value }}</td>
              <td>{{ row.tradeId }}</td>
              <td>{{ row.tradeVersion }}</td>
            </tr>
          </tbody>
          </table>
      </div>
    </div>
    <div class="row border">
      <div class="row">
        <div class="col-sm-3">
          <label>Select Security Code: </label>
          <select [(ngModel)]="selectedCodeForTransaction" name="codeSelect">
            <option *ngFor="let code of allCodesForTransaction">
              {{ code.name }}
            </option>
          </select>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-primary" (click)="this.viewTransactions()">View Transaction</button>
        </div>
      </div>
      <div class="row" *ngIf="!showTransactions">
        <table class="table">
          <thead>
            <tr>
              <th>Transaction ID</th>
              <th>Trade ID</th>
              <th>Trade Version</th>
              <th>Security Code</th>
              <th>Action</th>
              <th>Quantity</th>
              <th>Buy/Sell</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of rowData">
              <td>{{ row.id }}</td>
              <td>{{ row.tradeId }}</td>
              <td>{{ row.tradeVersion }}</td>
              <td>{{ row.securityCode }}</td>
              <td>{{ row.action }}</td>
              <td>{{ row.qty }}</td>
              <td>{{ row.buy_Sell }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
</div>

<router-outlet />
