<div class="ui segment">
  <a class="ui blue right ribbon label">View Positions</a> 
  <form class="ui form">
    <div class="field">
      <label>Select Security Code</label>
      <div class="fields">
      <div class="three wide field">
        <select class="ui dropdown" [(ngModel)]="selectedCodeForPosition" name="codeSelect">
          <option *ngFor="let code of allCodesForPosition">
            {{ code.name }}
          </option>
          <option>ALL</option>
        </select>
      </div>
      <div class="five wide field">
        <button class="ui primary button" (click)="this.viewPositions()">View Position</button>
      </div>
    </div>
    </div>
    <div class="field" *ngIf="showPosition">
      <div class="ui card">
        <div class="content">
          <div class="header">Position of {{positionObj.securityCode}}</div>
        </div>
        <div class="content">
          <h4 class="description">Current value: {{positionObj.value}}</h4>
          <h4 class="description">Last Transaction Trade Id: {{positionObj.tradeId}}</h4>
          <h4 class="description">Last Transaction Trade Version: {{positionObj.tradeVersion}}</h4>
        </div>
      </div>
    </div>
    <div class="field" *ngIf="showPositionArr">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Security Code</th>
            <th>Current Value</th>
            <th>Last Transaction Trade Id</th>
            <th>Last Transaction Trade Version</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of posData">
            <td>{{ row.securityCode }}</td>
            <td>{{ row.value }}</td>
            <td>{{ row.tradeId }}</td>
            <td>{{ row.tradeVersion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>